body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-direction: column;
}

.list {
  display: flex;
  gap: 12px;
}

.btn {
  height: 60px;
  width: 100px;
}

.active {
  background-color: green;
}
