body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blue;
}

.container {
  text-align: center;
  justify-content: center;
  background-color: orange;
}

.heading {
  font-size: 40px;
}

.button {
  font-size: 36px;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.count {
  margin: 0, 40px, 0, 40px;
  font-size: 36px;
}
