body {
    display:flex;
    justify-content:center;

}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}

.select-options {
    display:flex;
    flex-direction:column;
    height:100px;
}

.options {
    height:40px;
    width:200px;
}