body {
  background-color:aqua;
  justify-content:center;
  align-items:center;
  height:100vh;
  display:flex;   
}

.container {
  display:flex;
  flex-direction:column;
  gap:25px;
  border-style:dotted;
  border-width:2px;
  
}
.input{
  height:40px;
  width:500px;
}
.input-btn {
  display:flex;
  gap:20px;
}