body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.btn-count {
  display:flex;
  flex-direction:column;
  gap:20px;
}



