body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.input {
  height: 40px;
  width: 400px;
}

.label {
  font-size: 60px;
}

.weak {
  color: red;
}
.medium {
  color: orange;
}
.strong {
  color: green;
}
