body {
  display:flex;
  justify-content:center;
}

.container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:80vh;
  font-size:40px;
}

.btn {
  height:60px;
}